<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title> {{pageName}} </title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}" >
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/student/course.css') }}" >

</head>
<body>
    <div class="box">
        <p class="name">Student Name</p>
        <p class="name1">Student ID</p>
    
   
    </div>
    
    <div class="container">
        <h1>Student Courses     1/2022</h1>
        <div class="box1">
            <p class="namebox1">SUB101</p><br>
            <p class="namebox2">mathematics</p>
        </div>
        <div class="box1">
            <p class="namebox1">SUB102</p><br>
            <p class="namebox2">physics</p>
        </div>
        <div class="box1">
            <p class="namebox1">SUB103</p><br>
            <p class="namebox2">web deisgn</p>
        </div>
        <div class="box1">
            <p class="namebox1">SUB104</p><br>
            <p class="namebox2">programming</p>
        </div>
      </div>
</body>
</html>