<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title> {{pageName}} </title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}" >
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/student/feedback.css') }}">
</head>
<body>
    <h1>QUIZ Feedback</h1>
    <div class="box">
        <p class="name">Student Name</p>
        <p class="name1">Student ID</p>
    
    </div>
    <div class="comment-box">
        <p class="textbox">Comment</p>
        <p class="comment-text" p>
      
      </div>
</body>
</html>