<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title> {{pageName}} </title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}" >
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/authentication/login.css') }}" >

</head>
<body>
    <div class="box">
        <div class="content"> 
            <img class="logo_img" src="{{ url_for ('static', filename='img/logo.jpg') }}" alt="ABAC Logo">
            <form >
                <p>Email</p>
                <input class="input_box" type="text" name="" placeholder="Email">
                <p>Password</p>
                <input class="input_box" type="password" name="" placeholder="Password">
                <br>
                <a href="#">Forget Password</a><br>
                <div class="button_box">
                    <input class="normal_button" type="button" value="Sign up">
                    <input class="normal_button" type="button" value="Sign in">
                    
                </div>
              </form>
        </div>


    </div>
    
    
</body>
</html>