<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title> {{pageName}} </title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}" >
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/authentication/signup.css') }}" >

</head>
<body>
    <div class="box">
        <div class="content"> 
            <h1 style="font-size: 45px;text-align: center;">Sign up</h1>
            <form >
                <div class="name_box">
                    <div class="normal_box"> 
                        <p>First name</p>
                        <input class="input_box" type="text" name="" placeholder="First name">
                    </div>
                    <div class="normal_box"> 
                        <p>Last name</p>
                        <input class="input_box" type="text" name="" placeholder="Last name">
                    </div>
                    
                </div>
                <p>User ID</p>
                <input class="input_box" type="text" name="" placeholder="Email">
                <p>Password</p>
                <input class="input_box" type="password" name="" placeholder="Password">
                <p>Re-enter Password</p>
                <input class="input_box" type="password" name="" placeholder="Re-enter Password">
                <input class="normal_button" type="button" value="Sign up">


              </form>
        </div>


    </div>
    
    
</body>
</html>