<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{pageName}}</title>
    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename='css/navbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename='css/program_director/course.css') }}"
    />
  </head>

  <body>
    <div class="page_container">
      <div class="nav_bar">
        <div class="header">
          <img
            class="logo_img img_left"
            src="{{ url_for ('static', filename='img/logo.jpg') }}"
            alt="ABAC Logo"
          />
          <img
            class="logo_img img_right"
            src="{{ url_for ('static', filename='img/hamburger.png') }}"
            alt="hamburger"
          />
        </div>
        <div class="nav_bar_details">
          <img
            class="profile_img"
            src="{{ url_for ('static', filename='img/profile.png') }}"
            alt="Profile"
          />
          <h2>Program Director Name</h2>
          <h2>PD ID</h2>
        </div>
      </div>

      <div class="body_content">
        <h1>Courses</h1>
        <div class="course_item">
          <div class="title">
            <h3 class="course_code_text">SUB101</h3>
            <p class="course_name_text">MATHEMATICS</p>
          </div>

          <div class="grading">
            <img
              class="arrow_right"
              src="{{ url_for ('static', filename='img/arrow_right.png') }}"
              alt="Arrow_right"
            />
          </div>
        </div>
        <div class="course_item">
          <div class="title">
            <h3 class="course_code_text">SUB101</h3>
            <p class="course_name_text">MATHEMATICS</p>
          </div>

          <div class="grading">
            <img
              class="arrow_right"
              src="{{ url_for ('static', filename='img/arrow_right.png') }}"
              alt="Arrow_right"
            />
          </div>
        </div>
        <div class="course_item">
          <div class="title">
            <h3 class="course_code_text">SUB101</h3>
            <p class="course_name_text">MATHEMATICS</p>
          </div>

          <div class="grading">
            <img
              class="arrow_right"
              src="{{ url_for ('static', filename='img/arrow_right.png') }}"
              alt="Arrow_right"
            />
          </div>
        </div>
        <div class="course_item">
          <div class="title">
            <h3 class="course_code_text">SUB101</h3>
            <p class="course_name_text">MATHEMATICS</p>
          </div>

          <div class="grading">
            <img
              class="arrow_right"
              src="{{ url_for ('static', filename='img/arrow_right.png') }}"
              alt="Arrow_right"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
