<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{pageName}}</title>

    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename='css/navbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename='css/program_director/statistic.css') }}"
    />
  </head>
  <body>
    <div class="page_container">
      <div class="nav_bar">
        <div class="header">
          <img
            class="logo_img img_left"
            src="{{ url_for ('static', filename='img/logo.jpg') }}"
            alt="ABAC Logo"
          />
          <img
            class="logo_img img_right"
            src="{{ url_for ('static', filename='img/hamburger.png') }}"
            alt="hamburger"
          />
        </div>
        <div class="nav_bar_details">
          <img
            class="profile_img"
            src="{{ url_for ('static', filename='img/profile.png') }}"
            alt="Profile"
          />
          <h2>Program Director Name</h2>
          <h2>PD ID</h2>
        </div>
      </div>
      <div class="body_content">
        <h1 style="font-size: 36px; position: absolute">Mathematics</h1>
   
          <img
            class="averagegraph"
            src="{{ url_for ('static', filename='img/averagegraph.png') }}"
            alt="graph"
          />
      
      </div>
    </div>
  </body>
</html>
